/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {

	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size: 62.5%;
}

// variables

$mainColor:#8860D0;
$subColor:#fff;
$regular:'Akrobat regular';
$bold: 'Akrobat bold';
$black:'Akrobat black';
$ExtraBold:'Akrobat ExtraBold';
$SemiBold: 'Akrobat SemiBold';

// mixins

@mixin form{padding: 20px 0;
	input[type=checkbox]+label{ cursor: pointer;color: #fff;margin: 0.2em;font-family: $bold;margin-right: 0.5rem;}
	input[type=checkbox]{display: none;margin-bottom: 0.5em;}
	input[type=checkbox]+label:before{content: "\2714";border: 3px solid #fff;width: 25px;height: 25px;padding-right: 0.2em;margin-right: 0.5rem;color: transparent;transition: .2s;}
	input[type=checkbox]:checked + label:before{border-color: #1E4F7E;color: #000000;}
	input[type=checkbox] + label:active:before{transform: scale(0);}
	input[type=checkbox] :checked:disabled+label:before{transform: scale(1);border-color: #1E4F7E;color: #1E4F7E;}
	.form-inner{display: flex;padding-top:10px;
		button{background-color:transparent;border:3px solid #fff;padding: 20px;
			a{font-size: 1.5rem;color:white;font-family:$bold;text-decoration:none;
				img{width: 20px;}
			}
		
		}

	}
}
@mixin gradient{background:linear-gradient(to left, #8860D0,#5AB9EA);}
@mixin button{margin: 15px;border: 3px solid #89CFE6;padding: 10px;background:transparent;position:relative;
	&:before{background:linear-gradient(to left, #8860D0,#59B9EA);transform:scale(0);direction: rtl;transition:0.7s;z-index: -1;content:"";position: absolute;width:100%;height:100%;right:0;top:0;}
	a{color: #063C70;font-family: $bold;font-size: 1.5rem;text-decoration: none;}
	&:hover{color: #fff;font-family: $bold;border: none;
		&:before{transform:scale(1);}
           a{color: #fff;font-family: $bold;}
	}

}
@mixin before{content: "";background-color: #fff;width: 50%;height: 2px;position: absolute;left: -60%;top: 44%;}
@mixin flex($flex-dir,$jc,$al){
    display: flex;flex-direction:$flex-dir;justify-content: $jc;align-items: $al;
}

//animation
@keyframes widthGrow{
    0%{
        width:0%;
    }
    100%{
        width:4rem;
    }
}

// banner......................................................................................................................
.banner{flex-direction: column-reverse;
	.banner-header{@include gradient();
		.banner-text{text-align: right;padding: 0 2%;
			h2{color:$subColor;font-size: 30px;padding: 25px 0;font-family: $black;}
		p{color:$subColor; line-height: 1.5;font-family: $bold;white-space: pre-line;padding-bottom: 10px;}
		a{color: $subColor;padding: 10px 0;font-family: $ExtraBold;position: relative;font-size: 1.5rem}
		a::before{@include before()}
		button{padding: 10px;
			a{color: $subColor;padding: 10px 0;font-family: $regular;}
			a::before{display: none;}
		}

		form{padding: 20px 0;
			input[type=checkbox]+label{ cursor: pointer;color: #fff;font-family: $bold;margin-right: 0.5rem;}
			input[type=checkbox]{display: none;margin-bottom: 0.5em;}
            input[type=checkbox]+label:before{content: "\2714";border: 3px solid #fff;width: 20px;height: 20px;padding-right: 0.2em;margin-right: 0.5rem;color: transparent;transition: .2s;}
            input[type=checkbox]:checked + label:before{border-color: #1E4F7E;color: #000000;}
		    input[type=checkbox] + label:active:before{transform: scale(0);}
			input[type=checkbox] :checked:disabled+label:before{transform: scale(1);border-color: #1E4F7E;color: #1E4F7E;}
			.form-inner{display: flex;padding-top: 30px;flex-wrap:wrap;justify-content: flex-end;
				button{background-color:transparent;border:5px solid #fff; width: 100%;display:flex;margin-bottom: 1.5rem;
					a{font-size: 1.5rem;color:white;font-family:$bold;
						img{width: 20px;}
					}
				
				}
		
			}
	}
	}

}
}
// stories.....................................................................................................................
.stories{padding: 5%;text-align: left;margin-top:20px;
	h2{padding:10px 0; font-size: 30px;font-family: Akrobat regular;}
	p{line-height: 1.2;font-family: $regular;font-size: 1.5rem;}

}

// Tabs........................................................................................................................
.Tabs{padding: 10% 5%;
.tabs-inner{position: relative;overflow: hidden;width: 100%;padding: 5%;border-radius: 5px;box-shadow: 0px 2px 29px #00000024;display: flex;margin-bottom: 3rem;
	.tab-scroll{margin: 20px;width: 2px;height: 80%;top:0;left: 0;background:black;position: absolute;
.scrollbar{width: 4px;height: 20%;background-color: #8760D0;position: absolute;transform: translateX(-1);transition: 700ms;top:5%;}
	}
	.side-tabs{width: 100%;
	label{padding: 20px;display: block;margin: 5px 0 5px 15px;color: #6d7278;font-family: $regular;font-size: 1.5rem;transition: 700ms;}
	.active{color:#8860D0;font-weight: bold; }
	}
}

.tabs-infor{overflow: hidden;background-color: #8760D0;color: white;padding: 5%;border-radius: 5px;position: relative;height: calcu(100%-60%);padding: 5%;
.list{position: absolute;top: -200%;opacity: 0;margin-top: 5px;transform: scale(0.1);transition: opacity 500ms ease-in-out 0ms;font-family: $regular;}
.active{top:0;opacity: 1;transform: scale(1);margin-top: 0;height: auto;position: relative;
	h3{font-size: 1.5rem;margin: 5% 0;font-family: $bold;}
	p{font-size: 1.2rem;font-family: $bold;}
	ol{list-style-type: revert;font-size: 1.1rem;padding: 5%;}
}
}

}

// join........................................................................................................................

.join{padding: 5%;;background: linear-gradient(to right, #72B0E7,#7E99E0,#8C7DD8);margin-top:20px;
	h2{padding:10px 0;font-size: 1.5rem;font-family:$bold;color: #fff;white-space:pre-line;}
	form{@include form;}
}


// applications..................................................................................................................
.applications{text-align: center;padding-top:2%;margin-top:20px;
	h2{font-family: $bold;line-height: 1.1em;padding-bottom: 10px;font-size: 1.5rem;}
	.infor{padding: 5%;
		h3{font-family: $bold;padding: 10px;font-size: 1.8rem;}
		p{line-height: 1.2;font-family: $regular;font-size: 12px;color: #000000;white-space: pre-line;font-size: 1.2rem;}
		button{@include button;}
	}
	.infor2{padding: 5%;
		h3{font-family: $bold;padding: 10px;font-size: 1.8rem;}
		p{line-height: 1.2;font-family: $regular;font-size: 12px;color: #000000;white-space: pre-line;font-size: 1.2rem;}
		button{@include button;}
	}
	
}

// Donations....................................................................................................................
.Donations{@include gradient();padding: 5%;
	h2{font-family:$SemiBold;color: #063C70;padding: 10px 0;font-size: 2rem;}
	p{line-height: 1.2;font-family: $regular;font-size: 1.5rem;padding-bottom: 15px;color: #fff;}
	.inner-infor1{padding-top: 20px;border-right: 5px solid #fff;border-bottom: 5px solid #fff;margin-bottom: 30px;display: flex;flex-wrap:wrap;justify-content: flex-end;padding-left:10px;
	p{width: 100%;padding-left:10px;white-space: pre-line;font-family: $bold;}
	 a{color: #fff;font-family:$ExtraBold;font-size: 1.5rem;text-decoration: none;position: relative;margin: 10px 50px;}
	 a::before{@include before()}
	}
	.inner-infor2{padding-top: 20px;border-right: 5px solid #fff;border-bottom: 5px solid #fff;margin-bottom: 30px;display: flex;flex-wrap:wrap;justify-content: flex-end;
		p{width: 100%;padding-left:10px;white-space: pre-line;font-family: $bold;}
		a{color: #fff;font-family:$ExtraBold;font-size: 1.5rem;text-decoration: none;position: relative;margin: 10px 50px;}
		a::before{@include before()}
	   }
	   .inner-infor3{padding-top: 20px;border-right: 5px solid #fff;border-bottom: 5px solid #fff;margin-bottom: 30px;display: flex;flex-wrap:wrap;justify-content: flex-end;
		p{width: 100%;padding-left:10px;white-space: pre-line;font-family: $bold;}
		a{color: #fff;font-family:$ExtraBold;font-size: 1.5rem;text-decoration: none;position: relative;margin: 10px 50px;}
		a::before{@include before()}
	   }
	.text{font-family:$ExtraBold;font-size: 1.8rem;padding-top: 6px;color: #fff;}
}

// equipment.......................................................................................................................
.equipment{padding: 5%;text-align: center;
	h3{padding: 5px;font-family:$SemiBold;font-size: 3rem;}
	p{line-height: 1.2;font-family: $regular;font-size: 1.5rem;padding:1.5rem 5px;color: #000000;}
	img{margin-top: 20px;}
	button{@include button;text-align:right;
		a{font-size: 1.5rem;}
	
	}

}

// Gallery.........................................................................................................................
.gallery{padding:10% 5%;
    .gallery-pic{overflow: hidden;margin-bottom:3rem;border-radius:5px;
        &:nth-child(2){height:250px;background:#5AB9EA;color:#063C70;border-radius:4px;@include flex(unset,center,center);padding: 20px;}
        &:first-child,&:nth-child(4),&:nth-child(5),&:nth-child(6){display: none;}
        img{width:600px;}
        h3{display:block;margin:auto;font-family:$black;font-size:4.8rem;}
    }
}

// place-story.......................................................................................................................
.place-story{margin-top: 5%;
	.story-infor{padding: 5%;
		h3{padding: 5px;font-family: $bold;font-size: 1.8rem;}
		p{line-height: 1.2;font-family: $regular;font-size: 1.5rem;padding: 27px 5px;color: #000000;}
		button{@include button;text-align:right;margin-bottom: 30px;
		a{font-size: 1.5rem;}
		}
		img{display: none;}
	}

	.story{box-shadow:0px 2px 26px rgba(0, 0, 0, 0.1);width: 100%;display: flex;margin-bottom:3rem;
	.storyTell{padding:5%;@include flex(column,space-between,flex-start);
		p{font-size:1.5rem;font-family:$regular;line-height:2.0rem;margin-bottom:2rem;width:100%;}
		a{font-family:$regular;font-size:1.8rem;color:#6D7278;}}
		.story-name{padding:5px;font-family:$bold;width:15%;font-size:1.5rem;background:#5AB9EA;color:#fff;display:flex;align-items:center;justify-content:center;
			p{width:max-content;writing-mode: vertical-rl;
				text-orientation: sideways;
				transform: rotate(180deg);}
		}
	}
	.bg-color{@include gradient();color: white;font-size:1.5rem;padding:10% 5%;font-family:$bold;
        p{font-size:2.2rem;
            span{font-size:1.6rem;}
        }
       }
}

// question..............................................................................................................

.Questions{text-align: center;
    h2{font-size:1.5rem;font-family: $bold;margin-bottom:3rem;width:max-content;display: block;padding: 5% 0;margin: auto;}
    .questions-inner{
            h3{margin-bottom:2rem;font-size:2rem;font-family:$bold;}
            p{font-family:$regular;font-size:2.5rem;white-space: pre-line;}
            .infor{padding:5px;@include gradient();height:60px;width:100%;margin:3rem 0 5rem;}
            .contact{color:rgb(0, 0, 0);width:100%;height:100%;background:white;position: relative; padding:5px;margin:0;display:block;font-family:$bold;font-size:2rem;
                label{margin-left:5.4rem;position: relative;color: black;top: 50%;transform: translateY(-50%);}
                span{animation:widthGrow 700ms;width:4rem;height:2px;background: rgb(0, 0, 0);position: absolute;top:50%;transform:translateY(-50%);}
            &:hover{
                span{width:4rem;}
            }
        }
    }
    .contact-us{
        h3{font-size:2rem;font-family: $regular;margin-bottom:2rem;overflow-wrap: break-word;}
        p{font-size:1.8rem;font-family: $bold;margin-bottom:2rem;}
    }
    .contact-inner{margin:3rem 0;display: block;text-align: center;font-size:1.5rem;position: relative;font-family:$bold;
        &:before{content:"";height: 3px;width:10%;position: absolute;left:0;top:50%;background:#5AB9EA;}
        &:after{content:"";height: 3px;width:10%;position: absolute;right:0;top:50%;background:#5AB9EA;}
    }
    .contact-links{margin-bottom:3rem;width: 100%;text-align: center;
        li{padding:20px;font-size:1.5rem;font-family:$bold;
            a{color:black;}
        }
    }

}

// footer.........................................................................................................................................
footer{text-align: center;@include gradient();color: #fff;width: 100%;height: auto;
p{padding: 5%;font-family: $bold;font-size: 2rem;}
}


// DONATION  html...................................................................................................................................
.Donate-form{padding:10% 5%;
	p{font-family: $bold;font-size: 1.8rem;padding: 10px 0;}
		form{
			input,textarea{font-family:$bold;font-size:1.5rem;width:100%;border:none;border-bottom:1px solid #D8D8D8;padding:5px;margin-bottom:2rem;outline: none;
			&::placeholder{color:#979797;}
			}
		}
		button{@include button;
		a{font-size: 1.5rem;}
		}
		img{padding-top: 32px;}
	}

// sponsor-form...................................................................................................................................
.Sponsor-form{
    p{font-family:$bold;font-size:1.5rem;padding:5%;color:white;line-height:1.5rem;}
    input[type="text"],input[type="email"]{margin-bottom:2rem;font-size:1.8rem;font-family:$bold;outline:none;padding:5px;background:transparent;width:100%;border:none;border-bottom:1px solid #D8D8D8;color:white;
        &::placeholder{color:white;}
    }
    .sponsor-inner{@include gradient();padding:5%;}
    form{@include form;
        p{font-size:1.5rem;font-family:$bold;color:white;margin: auto 0;padding: 0 10px ;margin-bottom: 20px;}
 .amount{border: 2px solid white;width: 44%;margin:2rem 0 1rem auto;font-size: 1.2rem;background-color: transparent;padding:10px;
	&::placeholder{color:white;font-family: $regular;}
}
 }
.sponsor{
	button{background-color:transparent;border:2px solid #fff;padding:10px;width:100%;margin-bottom: 20px;
		a{font-size:0.8rem;color:white;font-family:$regular;
			img{width: 20px;margin: 0 10px;}
		}
		a::before{display: none;}
}
	a{color: #fff;font-family: $regular;font-size:  1.5rem;text-decoration: none;position: relative;margin: 15px;}
	a::before{content: "";background-color: #fff;width: 37%;height: 2px;position: absolute;left: -42%;top: 58%;}
}
}

// song...........................................................................................................................................
.song{padding:10% 5%;text-align:left;
	p{font-family:$bold;font-size:1.5rem;line-height:1.5rem;padding: 10px;}
	a{font-family: $regular;font-size:  0.8rem;text-decoration: none;margin: 10px;color: #34879D;white-space: pre-line;}
}

.bg-color{text-align: center;@include gradient();color: #fff;width: 100%;height: auto;
p{white-space: pre-line;font-family: $bold;font-size: 1rem;text-align: left;padding: 5%;}
}







// success.....Html......................................................................................................................................
.slider{padding: 5%;
.items{text-align: center;
	p{font-family:$regular;font-size:1.5rem;line-height:1.1;padding: 10px;padding-bottom: 20px;}
	a{display: block;padding: 10px;color:#000000;font-family:$regular;font-size: 1.3rem;}
	.span{@include button;@include gradient();border: none;color: white;font-family:$black;}
}
.slick-current{display: none;}
.slick-arrow{display: none;}
}

.Questions {
	h2 {font-size: 2rem;padding: 10% 0% 5%;}
	.questions-inner {
		h3{font-size: 1.8rem;}
		p{font-size: 2rem;}
}
.contact-us{
	h3 {font-size: 1.8rem;}
	p {font-size: 1.5rem;} 
}

}
footer{
	p{font-size: 1.5rem;}
}
// CONTACT HTML....................................................................................................................................

.Donate-form{text-align: center;
	p{font-size: 2rem;}
	.contact-us{padding: 5%;
        h3{font-size:1.5rem;font-family: $bold;margin-bottom:1.5rem;}
        p{font-size:1.2rem;font-family: $regular;margin-bottom:1.5rem;}
	}
	.form-inner{
		.infor{padding:5px;@include gradient();height:60px;width:100%;margin:3rem 0 5rem;}
		.contact{color:rgb(0, 0, 0);width:100%;height:100%;background:white;position: relative; padding:5px;margin:0;display:block;font-family:$bold;font-size:2rem;
			label{margin-left:5.4rem;position: relative;color: black;top: 50%;transform: translateY(-50%);}
			span{animation:widthGrow 700ms;width:4rem;height:2px;background: rgb(0, 0, 0);position: absolute;top:50%;transform:translateY(-50%);}
		&:hover{
			span{width:4rem;}
		}
	}
	}
}

.Questions-donate{@extend .Questions ;}


// MEDIA QUERIES..................................................................................................................................
@media (min-width: 568px) {  
	.banner{
		.banner-header{
			.banner-text{
				form{
					.form-inner{padding-left: 48%;}
				}
			}
		}
	}
	.place-story{
		.story-infor{text-align: center;
			p{white-space: pre-line;}
		}
        .inner-story{
            .story{width: 100%;margin:1rem auto;
                
                .story-name{padding:3%;max-width:50px;
                    
                }
            }
        }
        
	}
	.equipment{
		p{white-space: pre-line;}
		img{width: 50%;}
	}
	.Donations{
		P{white-space: pre-line;}
	}

	// .Donations
	.Sponsor-form{
		form{
			p {margin-bottom: 31px;}
		
		} 
		.sponsor {display: flex;justify-content: space-between;
			button {width: 60%;}
			a::before {width: 46%;left: -56%;top: 40%;}
	}
	} 
	
	}



@media (min-width: 768px) {  
	.banner{display:flex;flex-direction: row-reverse;width:100%;
		img{width: 50%;}
		.banner-header{display: flex;flex-direction: column; width:100%; 
			.banner-text{padding: 10% 5%;
				h2{font-size: 2.5rem;}
				p{padding: 10px 0;font-size: 1.5rem;white-space: pre-line;}
				form{
					.form-inner{padding-left: 11px;
					
					}
					input[type=checkbox] + label {margin: 10px 2px;
					}
				
				}
			}
		}
		
		}
		.join{display: flex;padding: 5% ;justify-content: space-between;
			h2{padding:20px 0; font-size: 20px;font-family:$bold;color: #fff;white-space: pre-line;width: 50%;line-height: 1.3;}
			form{@include form;width: 50%;padding:5% 0;
			.form-inner{padding-top: 18px;
			button{padding: 15px;}
			}
			}
			
		}
		.stories{
			h2{font-size: 3rem;}
			p{font-size: 1.5rem;}
		}
		.applications{
			.infor2{position: relative;
			&:before{width:2px;height: 100%;position: absolute;right: 0;top:0;background: #979797;content: "";}
			}
			h2{font-size: 1.8rem;}
			h3{font-size: 1.5rem;}
			p{font-size: 1.5rem;}
		}

		.Donations{
			.inner-infor1{margin-top: 34%;}
			.inner-infor2{margin-top: 26%;}
			.inner-infor3{margin-top: 10px;
			a{margin: 10px 58px;}
			}
			p{padding-bottom: 30px;font-size: 1.2rem;}
		}
		.equipment{display: flex;padding: 2% 5%;justify-content: space-between;
			.text{padding-top: 14%;text-align: left;
				h3{font-size: 2.5rem;}
				p{white-space: pre-line;font-size: 1.4rem;}
				button{
					margin: 10px 0;
				}
			}
		
			img{width: 50%;}
		
		}
		.gallery{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0;
			.gallery-pic{margin-bottom:1rem;height:156px;
				&:nth-child(2){padding: 6%;height:-webkit-fill-available;width:19%;}
				&:first-child,&:nth-child(4),&:nth-child(5),&:nth-child(6){display:block;}
				&:first-child{width:49%;}
				&:nth-child(3),&:nth-child(4){width: 29%;}
				&:nth-child(5),&:nth-child(7){width: 18%;}
				&:nth-child(6){width: 29.5%;}
				img{width:fit-content;height:-webkit-fill-available;}
				h3{font-size:3rem;}
			}
		}

		.place-story{display: flex;position: relative;
			.story-infor{padding: 5%;text-align: left;
				h3{font-size:3.0rem;white-space: pre-line;}
				p{font-size: 1.5rem;}
				button{padding: 20px;
					a{font-size: 25px;}
				}
			}
			.story-infor{
				.story{background: white;
				
				}
				}
				.story{
					.storyTell{background: white;}
				}
			img{display: block;}
			.bg-color{position: absolute;bottom:0;z-index:-1;width:100%;top: 81%;height: 22vh;
				p{width:50%;font-size: 1.5rem;}
			   
			}
			.dots{display:block;border-radius:4px;width:0.8rem;height:10rem;background: #5AB9EA;right:0;top:7rem;position: absolute;
				&:before{content:"";background:#5AB9EA;height:5rem;width:0.8rem;position: absolute;right:0;top:130px;border-radius:4px;}
				&:after{content:"";background:#5AB9EA;height:2.5rem;width:0.8rem;position: absolute;right:0;top: 218px;border-radius:4px;}
	
			}
			}
			.Questions{padding-top: 23%;
				h2{font-size:2.5rem;display: block;text-align: center;margin:auto;}
				.questions-inner{text-align: center;
					p{font-size: 1.8rem;}
					h3{margin:5% 0;}
						.infor{width:60%;margin:2rem auto;height:70px;}
						.contact{
							label{font-size: 1.5rem;}
						}
				}
				.contact-us{text-align: left;
					h3{font-size: 1.5rem;}
				}
				.contact-inner{
					&:before,&:after{width:30%;transform:tranalateY(-50%);}
				}
				.contact-links{margin:4rem 0 7rem; display: flex;justify-content:center;
					li{
					a{font-size:1.5rem;}
					}
				} 
			}

			.Sponsor-form{display: flex;
				p {font-size: 1.5rem;padding: 0;line-height: 1.2;}
				.sponsor-img{width: 50%;}
				.sponsor-inner{width: 66%;padding:2%;
					form{  justify-content: space-between;padding-top: 10px;
						p{margin: 10px 0;font-size: 1.5rem;}
						&:last-child{margin-bottom:0;}
						input[type="checkbox"] + label:before{height:25px;width:25px;}
						label{font-size: 1.5rem;}
						.label{width: 63%;height: auto;padding: 5px;font-size: 1.5rem;}
						input[type=checkbox] + label {margin: 10px;}
					}

				}
				form{display:flex;flex-wrap:wrap;
					.amount{border: 1px solid white;margin: 1rem 0 1rem auto;background:transparent;padding:5px;font-size: 1.4rem;width:10rem;
					&::placeholder{color:rgb(235, 235, 235);}
					}
					input[type="text"]{font-size: 1.5rem;margin-bottom: 5px;width: 45%;}
					.label{font-size: 1.5rem;} 
					input[type="email"] {margin-bottom: -25px;font-size: 1.5rem;}
					.amount {border: 3px solid white;margin: 0rem 0 1rem auto;padding: 10px;width: 10rem;height: 32px;}
					}
					.sponsor{
						button {border: 3px solid #fff;padding: 10px;width: 75%;margin-bottom: 20px;}
						span{font-size: 2rem;font-family: $ExtraBold;}
					} 
			}
				// contact..............................................................................................................
		.Donate-form{text-align: center;
			.form-inner{text-align: left;
				form{
					input[type="text"]{width: 45%;}
					}
				
			}
			.contact-us{text-align:left;
			}
			.form-inner{
				.infor{padding:5px;@include gradient();height:60px;width:78%;margin:3rem 15rem 5rem;}}
				.Donate-form{padding: 5%;
					p{font-size: 2rem;white-space: pre-line;line-height: 1.2;}
					.form-inner{
						form{margin-top: 40px;justify-content: space-between;display: flex;flex-wrap: wrap;
						
						}
					}
					
				}
				button{padding: 20px;display: flex;margin: 0 0 0 auto;}
		}

		.slider{
			padding: 5%;display: flex;
			.slick-slide{justify-content: center;display: flex;align-items:center;height: 100%;position: relative;top: 200px;
				p{display: none;}
				.inner{display: block;}
				.items{position: relative;top: -122px;
					.span{background: transparent;color: black;}
				}
				
			}
		
			.slick-current{top: 0;
				p{display: block;}
				.items{top:0;
					.span{@include button;@include gradient();border: none;color: white;font-family:$black;}
				}
				.items{text-align: center;
					p{font-family:$regular;font-size:1.5rem;line-height:1.1;padding: 10px;padding-bottom: 20px; white-space: pre-line;}
					.text{border-top: 5px solid #5AB9EA;}
					a{display: block;padding: 10px;color:#000000;font-family:$regular;font-size: 1.3rem;}
				
					.inner{display: none;}
				}
			}
			.slick-arrow{position: absolute;bottom: 0;z-index: 99;background-color:  #063C70;text-decoration: none;color: #fff;border: none;padding: 8px 15px;width:100px;outline: none;font-family:$regular;font-size: 1.3rem;}
			.slick-next {left: 53%;}
			.slick-prev {left: 35%;}
		  
			}
			.Questions-donate {
				padding-top: 2%;
			}
			
			}
	
		
		
@media (min-width: 992px) {

	.banner{
		.banner-header{
			.banner-text{
				p{font-size: 2rem;}
				form {
					input[type=checkbox] + label {
					font-size: 1.5rem;
				}
				.form-inner{
					button{width: 58%;}
				}
			}
			
		}
		}
	}
	.stories{
		p{font-size: 1.8rem;}
	}

	.join{
		h2{font-size: 2rem;padding-top: 45px;}
		form input[type=checkbox] + label {
		font-size: 1.8rem;
		}
	}
			.place-story{display: flex;flex-wrap:wrap;position: relative;
				 		h3{font-size:3.5rem;white-space: pre-line;}
						p{font-size:2rem;}
					
					.story-infor{padding: 5%;
						p{padding-top: 20px;}
						.story{background: white;}
				 	}
					.bg-color{position: absolute;bottom:0;z-index:-1;width:100%;
						 p{width:50%;padding-top: 9px;}}
						 .inner-story{padding: 5%;}
				}
				.side-tabs {
					label {font-size: 1.8rem;}
				}
				.Tabs{
					.tabs-infor{
						.active{
							h3{font-size: 1.8rem;}
							p{white-space: pre-line;font-size: 1.5rem;}
						}
						li{font-size: 1.5rem;}
					}
				}
		
				.Questions{
					h2{font-size: 3rem;}
					.questions-inner{
							h3{font-size: 1.8rem;}
							p{font-size:1.5rem;}
							.infor{width:25rem;font-size:2.2rem;}
					}
					.contact-us{padding: 5% 20%;
						h3{font-size:3.5rem;}
						p{font-size:2.5rem;}
					}
					.contact-inner{font-size:3.2rem;
						&:before,&:after{width:30%;}
					}
					.contact-links{ display: flex;justify-content:center;
						li{font-size:2.0rem;}
					} 
				}
		footer{
		p{padding: 7%;}
		}
		.Donate-form{text-align: center;
			.form-inner{text-align: left;
				form{
					input[type="text"]{width: 45%;}
					}
				
			}
			.contact-us{text-align:left;
			}
			.form-inner{
				.infor{padding:5px;@include gradient();height:60px;width:54%;margin:3rem 22rem 5rem;}}
		}
		.Donations {
			.inner-infor3 {margin-top: 47px;}
		}
		.Sponsor-form{display: flex;
			p{font-size:1.8rem;padding: 0;line-height: 1.1;}
			.sponsor-img{width: 50%;}
			.sponsor-inner{width: 50%;padding:2%;
				form{  justify-content: space-between;
					p{margin-bottom: 39px;font-size: 1.5rem}
					&:last-child{margin-bottom:0;}
					input[type="checkbox"] + label:before{height:25px;width:25px;}
					label{font-size:1.5rem;}
					.label{width: 63%;height: auto;padding: 5px;font-size: 1.2rem;}
				}

			}
			form{display:flex;flex-wrap:wrap;
				.amount{border: 1px solid white;margin: -1rem 0 1rem auto;background:transparent;padding:5px;font-size: 1.4rem;width:10rem;
				&::placeholder{color:rgb(235, 235, 235);}
				}
				input[type="text"]{width:45%;font-size: 1rem;margin-bottom: 10px;}
				.label{font-size: 1rem;} 
				input[type="email"] {
					margin-bottom: -25px;
					font-size: 1rem;}
					 
				}
		}

		 .slider {
			.slick-next{left: 53%;}
			.slick-prev{left: 43%}
		}
		.gallery{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0;
			.gallery-pic{margin-bottom:1rem;height:156px;
				&:nth-child(2){padding: 4%;height:-webkit-fill-available;width:19%;}
				&:first-child,&:nth-child(4),&:nth-child(5),&:nth-child(6){display:block;}
				&:first-child{width:49%;}
				&:nth-child(3),&:nth-child(4){width: 29%;}
				&:nth-child(5),&:nth-child(7){width: 18%;}
				&:nth-child(6){width: 29.5%;}
				img{width: unset;height:initial;}
				h3{font-size:3.5rem;}
			}
		}
		
			}
@media (min-width: 1200px) {
	.Tabs{
		display: flex;justify-content: space-between;
		.tabs-inner{width: 35%;margin-bottom:0;
			.tab-scroll {height: 60%;top: 13%;
			}
			.side-tabs{display: flex;justify-content: center;flex-direction: column;
				label{font-size: 2.5rem;}
			}
		}
		.tabs-infor{width: 62%;
		.list{display: flex;flex-wrap: wrap;
		h3{width: 100%;}
		p{width: 100%;}
		ol{width: 50%;}
		}
		
		}
	}
	.banner{display:flex;flex-direction: row-reverse;width:100%;
		img{width:69%;}
		
	.banner-header{display: flex;flex-direction: column;width:100%;padding: 2%;
	.banner-text{padding: 28% 5%;
		h2{font-size: 45px;padding: 20px 0;}
		p{white-space: pre-line;font-size: 20px;line-height: 1.5;padding: 50px 0;}
		form{
			input[type=checkbox] + label {margin: 10px;
			}
			.form-inner{
			button{width: 50%;}
			}
		}
	}
	}
	}
	.stories {padding: 10%;height: 100vh;display: flex;justify-content: center;flex-direction:column;
	h2{font-size: 3rem;padding-bottom: 5%;}
	p{line-height: 1.6;font-size: 2rem;}
}
	
	.join{padding: 5%;
		h2{font-size: 30px;line-height: 1.5}
		form{
			.form-inner{padding-top: 29px;}
		}
	
	}
	.applications {
		padding: 6%;
		h2 {line-height: 1.5;padding-bottom: 64px;white-space: pre-line;font-size: 20px;}
		h3 {font-size: 30px;}
		.infor{text-align: left;
			p{padding: 0 10px;white-space: pre-line;line-height: 1.5;font-size: 20px;}
		button{margin: 15px 10px;padding: 20px 88px;
			a{font-size: 20px;}
		}
		}
		.infor2{text-align: left;
			p{padding: 0 10px;white-space: pre-line;line-height: 1.5;font-size: 20px;}
			button{margin: 10px;padding: 20px 88px;
			a{font-size: 20px;}
			}
		
		}
	}
	.Donations{padding-top: 9%;
	h2{font-size: 43px;padding: 34px 0;}
	p{white-space: pre-line;line-height: 1.5;font-size: 20px;}
	.inner-infor1 {margin: 129px 20px;}
	.inner-infor2 {margin: 72px 20px;}
	.inner-infor3 {
          p{margin-right: 10px;}
	}
	.text {font-size: 34px;padding: 0;}
	}
	
	.equipment{padding: 5%;
		.text{
			h3{font-size: 3rem;padding-bottom: 20px;}
			p {line-height: 1.5;font-size: 2rem;}
			img{margin-top: 30px;}
			button{padding: 20px 69px;margin: 20px 5px;
			a{font-size: 25px;}
			}
		}
		
	}

	
	.place-story{height: 100vh;
		.story-infor{
			h3{font-size: 3.3rem;font-family: $SemiBold;}
			p{font-size: 2rem;}
			button{margin-top: 20px;}
		}
		.bg-color{height: 50vh;top:72%;
		p{font-size: 2.5rem;padding-top: 1px;}
		}
	}
	.Questions {
		padding-top: 8%;
		.questions-inner{
			h3{font-size: 3rem;}
			p{font-size: 2.3rem;}
		}
		.contact-us{
			h3{font-size:2.6rem;font-family: $bold;}
			p{font-size:2.3rem;font-family: $regular;}
		}
	}
	.Questions-donate{padding-top:10px;}
	.gallery{
        .gallery-pic{
            &:nth-child(2){width:19.5%;padding: 3%;text-align: center;}
            &:nth-child(3),&:nth-child(4){width: 28.5%;}
            &:nth-child(5),&:nth-child(7){width: 18.5%;}
			&:nth-child(6){width: 29.5%;}
			img{width: unset;height:initial;}
			h3{font-size:4rem;}
			
		 }
		 
	}
	// .Tabs .tabs-inner .tab-scroll {
	// 	height: 56%;
		
	// }

	// Donations media............................................................................................................

.Donate-form{padding: 5%;
	p{font-size: 2rem;white-space: pre-line;line-height: 1.2;}
	.form-inner{
		form{margin-top: 40px;justify-content: space-between;display: flex;flex-wrap: wrap;
		
		}
	}
	button{padding: 20px;display: flex;margin: 0 0 0 auto;}
	.contact-us{
		h3{font-size: 2rem;}
		p{font-size: 1.8rem;}
	}
}
.Sponsor-form{
	.sponsor-inner{padding: 4%;width:66%;display: flex;justify-content: center;flex-direction: column;
		form {padding-top: 30px;
			input[type=checkbox] + label {margin-right: 3rem;}
			p {font-size: 2rem;}
			.amount {border: 3px solid white;width: 22%;height: 36px;font-family: $bold;}
			label {font-size: 1.6rem;}
	}
}
	p {font-size: 2rem;line-height: 1.2;}
	form {
		input[type="text"] {font-size: 2rem;margin-bottom: 39px;border-bottom: 2px solid #fff;}
		input[type="email"] {font-size: 2rem;border-bottom: 2px solid #fff;}
}

.sponsor {
	button { border: 3px solid #fff;}
	a {font-family: $ExtraBold;font-size: 2rem;}
}
}
.song {
	p {font-size: 2rem;line-height: 1.2;white-space: pre-line;}
	.song-inner{
		margin: 55px;
	}
	a {font-size: 1.8rem;white-space: pre-line;line-height: 1.2;text-align: left;padding: 10px 0;}
}
.bg-color{
	p {white-space: pre-line;font-size: 2rem;line-height: 1.2;}
}
.Questions-donate {
	.questions-inner {
		p {font-size: 2rem;line-height: 1.1;white-space: pre-line;}}
		.contact-links{
			li {
				a {font-size: 2.5rem;}
		} }
}
.Questions{
	.questions-inner {
		p {font-size: 2rem;line-height: 1.1;white-space: pre-line;}}
		.contact-links{
			li {
				a {font-size: 2.5rem;}
		} }
}

footer{
	p{font-size: 2rem;}
}
}
